[Unit]
Description=Broadlink MQTT Bridge
After=mosquitto.service

[Service]
WorkingDirectory=FOLDER_PATH_REPLACE
ExecStart=/usr/bin/npm run production
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target